<nav class="nav-bar">
    <a href="/" class="nav-items">Home</a>
    {{#if isLoggedIn}}
    <a id="logout-button" class="nav-items">Log Out</a>
    {{else}}
    <a href="/login" id="login-button" class="nav-items">Login</a>
    {{/if}}
    <a href="/register" class="nav-items">Register</a>
    <a href="/post" class="nav-items">Post Images</a>
    {{!-- <a href="/view" class="nav-items">View Posts</a> --}}
    <form class="search-bar"
    method="GET"
    action="/posts/search"
    enctype="application/x-www-form-urlencoded">
            <input type="text" placeholder="Search" id="search-text" 
            class="search-text" name="searchTerm" value="{{searchValue}}"/>
            <button type="submit" class="search-button fas fa-search"></button>
    </form>
</nav>