<form class="main" 
action="/users/login" 
method="POST" 
enctype="application/x-www-form-urlencoded">
    <h2>Login</h2>
    <label for="username">Username</label><br>
    <input class="input" type="text" name="username" id="username" required><br>
    <br>
    <label for="password">Password</label><br>
    <input class="input" type="password" name="password" id="Password" required><br>
    <br>
    <input class="buttons" type="submit" value="Submit"><br>
</form>