body {
  margin: 0;
  font: 16px "Lucida Console", "Consolas", Courier, monospace;
  background-color: rgb(5, 197, 5);
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
}

a:hover,
a:active {
  color: white
}

li {
  list-style: none;
}

.search-bar {
  background-color: #cea882;
  border-radius: .5em;
  box-shadow: 5px 5px 15px #362d23;
  align-self: center;
  padding: 7px 10px 7px 10px;
}

.search-button {
  float: none;
  margin: 0;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 14px;
}

.search-text {
  background-color: transparent;
  border-style: none;
  font: 14px "Lucida Console", monospace;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
}

.header {
  flex: 1 100%;
  background-color: rgb(2, 153, 2);
  color: #AFD275;
  text-align: center;
  order: 1;
  padding: 8px 16px 8px 16px;
}

.footer {
  flex: 1 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  color: black;
  background-color: rgb(2, 153, 2);
  order: 6;
  padding: 10px 10px;
  margin-top: auto;
  justify-self: bottom;
}

.main {
  flex: 1 88%;
  flex-grow: 1;
  min-height: 100vh;
  text-align: center;
  justify-content: center;
  color: black;
  background: #E7717D;
  order: 4;
  border-radius: 25px;
  overflow: hidden;
  margin-bottom: 15px;
}

.nav-bar {
  display: flex;
  flex-flow: row wrap;
  flex: 1 100%;
  justify-content: center;
  padding: 15px 0px 15px 0px;
  order: 2;
  gap: 20px;
}

.nav-items {
  padding: 8px 16px 8px 16px;
  background-color: #cea882;
  border-radius: .5em;
  box-shadow: 5px 5px 15px #362d23;
  align-self: center;
}

.left-sidebar {
  flex: 1 6%;
  order: 3;
}

.right-sidebar {
  flex: 1 6%;
  order: 5;
}

.buttons {
  background-color: #cea882;
  padding: 5px 10px 5px 10px;
  border: none;
  border-radius: .5em;
  box-shadow: 5px 5px 15px #362d23;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.input {
  background-color: #cea882;
  padding: 4px 8px 4px 8px;
  color: black;
  border: none;
  border-radius: .5em;
  box-shadow: 0px 5px 15px #362d23;
  font: 14px "Lucida Console", monospace;
}

input:focus,
input[type=submit],
input[type=file],
input::placeholder {
  outline: none;
  font: 14px "Lucida Console", monospace;
}

.image {
  background-color: #cea882;
  padding: 25px;
  border: inset #c44552;
}

.main-post-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.valid:before {
  content: "✔ ";
}

.valid {
  color: green;
}

.invalid:before {
  content: "✖ ";
}

.invalid {
  color: red;
}

.message {
  display: none;
  margin: auto;
  background-color: #cea882;
  padding: 4px 8px 4px 8px;
  border-radius: .5em;
  box-shadow: 0px 5px 15px #362d23;
  width: 20%;
  text-align: center;
}

.post-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  grid-auto-rows: 325px;
  gap: 2em;
  padding: 1em;
  width: 98%;
}

.post-card {
  background-color: #cea882;
  border-radius: .5em;
  box-shadow: 0px 5px 15px #362d23;
  padding: 15px;
  transition: opacity .5s;
  overflow: hidden;
}

.photo-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  grid-auto-rows: 30vh;
  gap: 2rem;
  padding: 0em 1em 0em 1em;
  width: 98%;
}

.photo-card {
  background-color: #cea882;
  border-radius: .5em;
  box-shadow: 0px 5px 15px #362d23;
  padding: 10px 0px 40px 0px;
  transition: opacity .5s;
}

.photo-title {
  margin: auto;
  background-color: transparent;
  flex: 1 100%;
  text-align: center;
  overflow: hidden;
}

#flash-message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.alert {
  display: flex;
  justify-content: center;
  border-radius: .5em;
  padding: 20px;
  margin-top: 7rem;
  position: fixed;
  border-style: solid;
  animation: fadeOut 6s;
  animation-fill-mode: forwards;
}

.alert-success {
  color: green;
  background-color: lightgreen;
  border-color: green;
}

.alert-danger {
  color: red;
  background-color: pink;
  border-color: red;
}

#details {
  color: gray;
  position: static;
}

#details:hover {
  color: white;
}

textarea {
  resize: none;
  background-color: transparent;
  outline: none;
  font: 14px "Lucida Console", monospace;
}

#description {
  width: 200px;
  height: 60px;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}